body {
  font-size: 14px !important;
  width: 40em;
}

/* overrides */
.green-appmax {
  background-color: #00a65a;
}
.blue-appmax {
  background-color: #00acd6;
}

.blue-appmax-text {
  color: #00acd6;
}

.nav-wrapper {
  background-color: #222d32 !important;
  color: white !important;
}

input {
  height: 2rem !important;
  font-size: 1rem !important;
}