body {
  font-size: medium;
  width: 40em;
}

/* overrides */
.nav-wrapper {
  background-color: #000066 !important;
  color: white !important;
}
input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: #000066 !important;
}
